/* 부킹 바디 스타일 */
.booking-body{
    position: relative;
    height:100%;
    width: 100%;

    text-align: center; /*body-logo 가운데로*/
    justify-items: center; /*form-box 가운데로*/
}

.booking-body .form-box{
    position: relative; /* 절대 위치 설정 */
    display: flex;

    width: 1000px;
    height: 800px;
    /*background-color: #c75e5e;*/
    background-color: #333333;
    border-radius: 20px; /* 모서리를 둥글게 설정 */

    padding: 40px; /* 박스 안쪽 여백을 설정 */
    justify-content: space-between; /*내부 예약/디테일 설정*/
}

.form-box .reservation-form{
    display: flex;

    width: 100%;
    /*background-color: #333333;*/
    background-color: white;
    border-radius: 20px; /* 모서리를 둥글게 설정 */


    padding: 20px;
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
    border-right: 3px solid teal;
}

/* 폼 스타일 */
.reservation-form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
    width: 100%; /* 전체 너비 사용 */
}

.input-group {
    display: flex;
    gap: 20px; /* 항목 간격 조정 */
    padding: 20px;
    border-bottom: 1px solid silver; /* 그룹 간의 구분선 */
    align-items: center; /* 항목 수직 중앙 정렬 */
}

.input-group:last-child {
    border-bottom: none; /* 마지막 요소의 구분선 제거 */
}

.input-group .input-item {
    display: flex;
    align-items: center; /* 항목 수직 중앙 정렬 */
    justify-content: space-between; /* 레이블과 입력 필드 양끝에 위치 */
    min-width: 300px;
    background-color: #007BFF;
    width: 100%;
    height: 100%
}

.input-item > label {
    background-color: #c75e5e;
    width: 80px; /* 레이블의 고정 너비 설정 */
    text-align: left; /* 레이블 텍스트 왼쪽 정렬 */
}

.input-item > input {
    width: calc(100% - 80px); /* 입력 필드가 나머지 공간 차지 */
    padding: 20px 10px;
    box-sizing: border-box; /* 패딩 포함한 너비 계산 */
}


.input-item > select {
    flex: 1;
    width: calc(100% - 80px); /* 입력 필드가 나머지 공간 차지 */
    font-size: 16px; /* 글자 크기 설정 */
    padding: 20px 10px;
    box-sizing: border-box; /* 패딩을 포함한 전체 크기 계산 */
}

.input-item > #hour-select {
    margin-right: 10px; /* 첫 번째 요소의 오른쪽에만 10px의 공백 추가 */
}


.input-item > textarea#text {
    position: relative;
    width: 100%; /* 텍스트 영역이 부모의 너비를 차지 */
    height: 200px; /* 텍스트 영역의 높이 설정 */
    box-sizing: border-box; /* 패딩과 보더를 포함하여 계산 */
    resize: none; /* 크기 조절 불가 */
}