/* 전체 페이지 스타일 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    padding: 0;
}

/* 헤더 스타일 */
/* 상단바 고정만 설정 */
.header {
    margin: 0; /* 마진 제거 */
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 100px;
}


body {
    font-family: Arial, sans-serif; /* 기본 글꼴 설정 */
    margin: 0; /* 기본 마진 제거 */

}


/* 콘텐츠 스타일 */
/* ------------------------------------------------------------ */


/* 푸터 스타일 */
/* ------------------------------------------------------------ */
footer {
    background-color: #333; /* 푸터 배경 색상 */
    color: white; /* 글자 색상 */
    width: 100%; /* 전체 너비 설정 */
}
