
/* 폼 박스 스타일 */
.form-box {
    margin: 0 auto;
    position: relative; /* 절대 위치 설정 */
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    width: 60%; /* 너비를 설정 */
    height: auto; /* 높이를 내용에 맞게 설정 */
    background-color: #c75e5e; /* 배경색을 검정색으로 설정 */
    border-radius: 15px; /* 모서리를 둥글게 설정 */
    padding: 20px; /* 박스 안쪽 여백을 설정 */
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
    gap: 20px; /* 항목 간격 조정 */
}

/* 폼 스타일 */
.reservation-form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.input-group {
    display: flex;
    gap: 20px; /* 항목 간격 조정 */
    align-items: center; /* 항목 수직 중앙 정렬 */
}

.input-item {
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px; /* 필요에 따라 너비 조정 */
}


/* 텍스트 스타일 */
.booking-body-logo {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px; /* 여백 추가 */
}

.bold-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.small-text {
    font-size: 14px;
    color: #555;
}

/* 예약 상세 스타일 */
.reservation-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%; /* 예약 상세 폼의 너비 설정 */
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* 패딩을 포함한 너비 계산 */
}

.reservation-details h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.reservation-details p {
    font-size: 16px;
    margin: 5px 0;
}
