<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
  <title>예약 현황</title>
  <link rel="stylesheet" th:inline="css" th:href="@{/css/user/user1.css}">
</head>
<th:block layout:fragment="content">
  <div class="content">
    <div class="reservation-list">
      <h2>예약 현황</h2>
      <table>
        <thead>
        <tr>
          <th>이름</th>
          <th>연락처</th>
          <th>이메일</th>
          <th>성별</th>
          <th>예약일</th>
          <th>예약시간</th>
          <th>시술 부위</th>
          <th>예약확정</th>
          <th>예약취소</th>
          <th>확정여부</th>
          <th>방문횟수</th>
        </tr>
        </thead>
        <tbody>
        <!-- 예약 목록을 반복해서 출력 -->
        <tr th:each="reservation : ${reservations}">
          <td th:text="${reservation.name}"></td>
          <td th:text="${reservation.phonumber}"></td>
          <td th:text="${reservation.email}"></td>
          <td th:text="${reservation.gender}"></td>
          <td th:text="${reservation.reservation_Date}"></td>
          <td th:text="${reservation.hour_select} + ':' + ${reservation.minutes_select}"></td>
          <td th:text="${reservation.treatment1} + ' -> ' + ${reservation.treatment2}"></td>
          <td>
            <!-- 예약 확정 버튼 추가 -->
            <form th:action="@{/reservation/confirm/{id}(id=${reservation.id})}" method="post">
              <button type="submit" th:disabled="${reservation.status == 'y'}">확정</button>
            </form>
          </td>
          <td>
            <!-- 예약 취소 버튼 추가 -->
            <form th:action="@{/reservation/cancel/{id}(id=${reservation.id})}" method="post">
              <button type="submit" th:disabled="${reservation.status == 'n'}">취소</button>
            </form>
          </td>
          <td th:text="${reservation.status == 'y' ? '확정' : (reservation.status == 'n' ? '취소' : '대기')}"></td>
          <td th:text="1"></td> <!-- 방문횟수 표시 -->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</th:block>
</html>