<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}">
<head>
    <title>main homepage</title>
</head>
<th:block layout:fragment="content">
    <div class="content">
        <h1>테스트 컨텐츠영역</h1>
        <a href="/" style="display: inline-block; padding: 10px 20px; background-color: #007BFF; color: white; text-decoration: none; border-radius: 5px;">버튼 텍스트</a>
    </div>
</th:block>
</html>