/* 콘텐츠 스타일 */
.content {
    position: relative;
    background-color: #f8f8f8; /* 콘텐츠 배경 색상 */
    margin: 0; /* 마진 제거 */
    padding: 0; /* 패딩 제거 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 크기를 계산 */
    overflow: hidden; /* 콘텐츠가 넘치지 않도록 설정 */
    width: 100%;
    height: 100vh; /* 전체 화면 높이 */
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    display: flex;

    min-height: 1500px;
}

/* 부킹 헤더 스타일 */
.booking-header {
    width: 100%;
}

/* 이미지 컨테이너 스타일 */
.image-container {
    position: relative;
    background-color: #007BFF;
    height: 300px;
}

/* 이미지 스타일 */
.image-container img {
    width: 100%; /* 이미지 너비를 컨테이너에 맞춤 */
    height: 100%; /* 이미지 높이를 컨테이너에 맞춤 */
    object-fit: cover; /* 비율을 유지하면서 컨테이너를 완전히 채움 */
}

/* 네비게이션 스타일 */
.booking-nav {
    position: absolute; /* 부모 요소인 .image-container에 절대적으로 배치 */
    bottom: 0px; /* 네비게이션을 이미지 컨테이너의 하단에 위치 */
    width: 100%; /* 네비게이션이 이미지 컨테이너의 너비를 가득 채우도록 설정 */
    text-align: center;
}

.booking-nav ul {
    display: flex; /* 수평 일열로 */
    list-style: none;
    justify-content: center;
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
}

.booking-nav li {
    margin: 0; /* 링크들 사이의 간격 제거 */
}

.booking-nav a {
    display: inline-block;
    text-decoration: none;
    background-color: #333;
    color: rgba(255, 255, 255, 0.7); /* 70% 투명한 흰색 */
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s;
    margin: 0; /* 링크들 사이의 간격 제거 */
    border-radius: 5px 5px 0 0; /* 상단 모서리만 둥글게 */
}

/* 호버 스타일 */
.booking-nav a:hover {
    color: rgba(255, 255, 255, 0.9); /* 90% 투명한 흰색 */
}

.booking-nav a.active {
    background-color: #f8f8f8;
    color: rgba(51, 51, 51, 0.85);
}

.booking-nav a.active:hover {
    background-color: #f8f8f8;
    color: rgba(51, 51, 51, 1);
}



/**/
.booking-body-logo{
    margin: 30px 0px;
}

.booking-body-logo > .bold-text {
    font-size: 18px; /* 큰 글자 크기 */
    font-weight: bold; /* 굵게 */
    color: #333; /* 글자 색상 */
}

.booking-body-logo > .small-text {
    font-size: 14px; /* 작은 글자 크기 */
    color: #555; /* 텍스트 색상 */
}

