<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Thymeleaf Layout</title>
  <!-- config fragment 사용 -->
  <th:block th:replace="~{fragments/config :: configFragment}"></th:block>
  <!-- header fragment 사용 -->
  <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>
</head>
<body id="page-top">

<!-- content fragment 사용 -->
<th:block layout:fragment="content"></th:block>

<!-- footer fragment 사용 -->
<th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>
</body>
</html>